<footer>
  <div class="upper-footer text-center py-5 text-white">
    <div class="container">
      <div class="footer-items row">
        <div class="col-md-4 mb-4">
          <div class="footer-item">
            <h4 class="mb-3">LOCATION</h4>
            <p class="px-5">2215 John Daniel Drive
              Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="footer-item">
            <h4>AROUND THE WEB</h4>
            <div class="socialmedia pt-3 d-flex justify-content-around px-5">
              <a href="" class="item"><i class="fab fa-facebook-f"></i></a>
              <a href="" class="item"><i class="fab fa-twitter"></i></a>

              <a href="" class="item"><i class="fab fa-linkedin"></i></a>
              <a href="" class="item"><i class="fab fa-dribbble"></i></a>

            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <h4 class="mb-3">ABOUT FREELANCER</h4>
          <p>Freelance is a free to use, MIT licensed Bootstrap theme created by .</p>
        </div>
      </div>
    </div>

  </div>
  <div class="lower-footer text-center text-white py-3">
    Copyright © Your Website 2021
  </div>
</footer>
