<div class="about py-5">
  <div class="container ">
    <h2 class="text-center text-white">ABOUT</h2>
    <div class="star-icon text-center text-white h2 d-flex justify-content-center align-items-center col-8 m-auto">
      <div class="line mr-4"></div>
      <i class="fas fa-star"></i>
      <div class="line ml-4"></div>

    </div>
    <div class="content h-100 col-md-8 m-auto py-5">
      <div class="row">
        <div class="col-md-6">
          <div class="text-item text-white">
            <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
              source
              files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-item text-white">
            <p>
              You can create your own custom avatar for the masthead, change the icon in the dividers, and add your
              email
              address to the contact form to make it fully functional!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
